touchpad_zoom_modifier_key ctrl

background_color             #000000
dark_mode_background_color   #000000

text_highlight_color         #86adcd
visual_mark_color            #86adcd

search_highlight_color       #60967d
link_highlight_color         #de9bc8
synctex_highlight_color      #de9bc8

custom_background_color      #121212
custom_text_color            #d1d1d1

status_bar_color             #121212
status_bar_text_color        #d1d1d1

ui_background_color          #121212
ui_text_color                #d1d1d1
font_size 15

ui_selected_background_color #60967d
ui_selected_text_color       #d1d1d1

page_separator_width 3
page_separator_color #343737

default_dark_mode 1

multiline_menus 1

ruler_mode 1

#0.86 perfectly matches      #121212
dark_mode_contrast 1

overview_size 0.6 0.6
startup_commands toggle_statusbar
