spawn-at-startup "awww-daemon" 
spawn-at-startup "awww-daemon" "--namespace" "backdrop" 

layer-rule {
    match namespace="backdrop"
    place-within-backdrop true
}

layout {
    background-color "transparent"
}
