spawn-sh-at-startup "xwayland-satellite" 
spawn-sh-at-startup "keyd-application-mapper -d"
spawn-sh-at-startup "sleep 1; cd ~ && exec todoist-electron > /tmp/todoist.log 2>&1"
 spawn-sh-at-startup "nu ~/.config/niri/scripts/nu/kmux.nu --instance 'kmux-SCREENSHOTS' --config kmux.conf --command '$env.KMUX_YAZI = 1; y ~/saves/images/screenshots/'"
spawn-sh-at-startup "nu ~/.config/niri/scripts/nu/kmux.nu --instance 'kmux-YAZI' --config kmux.conf --command '$env.KMUX_YAZI = 1; y ~ ~/[T1-2627]/[MTH203A]/ ~/[T1-2627]/[MTH221A]/ ~/[T1-2627]/[GERIZAL]/ ~/[T1-2627]/[LCFILIB]/ ~/[T1-2627]/[GELITPH]/'" 
spawn-sh-at-startup "nu ~/.config/niri/scripts/nu/kmux.nu --instance 'kmux-CONFIG' --config kmux.conf --command 'cd /etc/nixos; nvim -c \"lua vim.schedule(function() Snacks.picker.files() end)\"' " 

include "window-rules.kdl"
include "background.kdl"
include "visual.kdl"
include "debug.kdl"
include "input.kdl"
include "misc.kdl"
include "maps.kdl"
